* {
    margin: 0;
    padding: 0;
}

body {
    background-image:  url(../img/pattern.png);
    background-color: #008901;
    font-family: Verdana, serif;
}

.wrapper {
    padding: 5px 0 15px 10px;
    width: 800px;
}

header div {
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: #013300;
    padding-bottom: 5px;
    color: white;
}

header h1,
header h2 {
    font-weight: normal;
}

header h2 {
    font-size: 17px;
    padding-top: 20px;
}

main {
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
}

main h1,
main h2 {
    text-align: center;
}

main h2 {
    padding: 7px 0 15px 0;
    font-size: 20px;
}

main > p {
    letter-spacing: 2px;
    margin: 15px 0 10px 0;
}

main p:nth-child(3) {
    line-height: 30px;
}

main p:nth-child(4) {
    background-color: #86ff89;
    text-align: justify;
}

blockquote {
    text-align: right;
    font-size: 13px;
    padding: 20px 40px 20px 0;
}

blockquote p:before {
    display: inline-block;
    content: "\"";
}
blockquote p:after {
    display: inline-block;
    content: "\"";
}

blockquote span {
    color: blue;
}

em {
    color: red;
    font-weight: bold;
}

ul {
    padding-left: 40px;
}

.manager {
    display: inline-block;
    color: blue;
    font-weight: bold;
}

.first_manager {
    background: url("../img/face-1.png") no-repeat;
}

.second_manager {
    background: url("../img/face-2.png") no-repeat;
}

.first_manager,
.second_manager {
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 4px solid #048504;
    background-color: #88ff89;
}

.manager p {
    text-align: center;
}

footer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 15px;
    background-color: #013300;
    border-top: 5px dotted red;
    color: white;
    letter-spacing: 2px;
}